*{
    padding: 0;
    margin: 0;
    list-style: none;
    vertical-align: baseline;
    list-style: none;
    font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
#menu {
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333647;
}

#menu div {
    margin-right: 35px;
}

#menu h1 {
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 45px;
}

#menu a{
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    background-color: transparent;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}

#menu a:nth-child(1) {
    color: #FFC709;
}


#perfil {
    height: 600px;
    background-image: url(/fotos/fundo-de-arte-abstrata-cores-douradas-e-pretas-pintura-em-aquarela-sobre-tela-com-gradiente-amarelo-suave_113767-5562\ \(1\).webp);
}

#perfil p {
    width: 500px;
    color: white;
}

#perfil h3 {
    color: #FFC709;
}

.perfil-img {
    width: 17%;
    border-radius: 50%;
    margin-left: 60%;
    margin-top: 7%;
}

.container {
    padding-left: 15%;
    margin-top: -9%;
}

#formaçao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1300px;
    background: #252734;
    color: #FFFFFF;
}

#formaçao h3 {
    display: flex;
    justify-content: center;
    font-size: 26px;
    padding-bottom: 35px;
    line-height: 48px;
    color: #FFC709;
}

#formaçao img {
    border-radius: 10px 10px 10px 10px;
}

#formaçao h4 {
    padding-left: 27.9%;
    font-size: 19px;
}


.list {
    margin: 25px -90px 25px 0px;
    padding: 20px;
    border: 1px solid #FFC709;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 120px;
}

.list img {
    width: 30px;
}

#slide-top {
    margin-top: 0%;
}

.slide-container {
    max-width: 1000px;
    position:  relative;
    margin: auto;
}

.slide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -20px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition:  0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color: white;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0, 0,0.8);
}

.number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    animation-name:fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4}
   to {opacity: 1} 
}

.biblioteca {
    display: flex;
    justify-content: center;
}
.biblioteca div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    
   
}
.biblioteca div span{
    color:#a89e9e;
    font-family: sans-serif;
    font-size: small;
}
.biblioteca div p{
    color:white;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;

}
.biblioteca li {
    display: flex;
    border: 1px solid #FFC709;
    padding: 10px;
    margin: 1rem 2rem;
    width: 250px;
    font-size: 15px;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.biblioteca li img{
    width: 38px;  
}

article {
    background-color: #252734;
    color: white;
    height: 70rem;
}

.backend{
    display: flex;
    justify-content: center;
}
.backend div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}
.backend div span{
    color:#e2d9d9;
    font-family: sans-serif;
    font-size: small;
}
.backend div p{
    color:white;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}
.backend li {
    display: flex;
    align-items: center;
    border: 1px solid #FFC709;
    padding: 10px;
    margin: 1rem 2rem;
    width: 250px;
    font-size: 15px;
    height: 50px;
    justify-content: center;
}
.backend li img{
    width: 38px;  
}
.projeto-p{
    font-size: 20px;
    text-align: center;
}

#footer{
    width: 100%;
    height: 160px;
    background: #333647;
    display: flex;
    justify-content: center;
}

#footer h3 {
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #FFC709;
    text-align: center;
}

#footer img {
    width: 35px;
    padding-top: 30px;
    margin: 0 20px;
}

@media (max-width: 650px) {
    #header {
        width: 100%;
    }

    #perfil h3 {
        color: #FFC709;
        padding-left: 20px;
    }

    #perfil p {
        margin: auto;
        width: 330px;
        padding: 1px;
        color: white;
    }

    .perfil-img {
        width: 60%;
        margin-left: 20%;
        margin-top: 20%;
        margin-bottom: 70px;
    }

    .container {
        padding-left: 5%;
    }
    

    .biblioteca {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #formaçao {
        padding-top: 30px;
        height: 100%;
        padding-bottom: 90px;
    }

}
    