*{
    padding: 0;
    margin: 0;
    list-style: none;
    vertical-align: baseline;
    list-style: none;
    font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
#menu {

    width: 100%;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333647;
}

#menu div {
    margin-right: 35px;
}

#menu h1 {
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 45px;
}

#menu a{
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    background-color: transparent;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}

#menu a:nth-child(1) {
    color: #FFC709;
}


#perfil {
    width: 100;
    height: 600px;
    background-image: url(/fotos/fundo-de-arte-abstrata-cores-douradas-e-pretas-pintura-em-aquarela-sobre-tela-com-gradiente-amarelo-suave_113767-5562\ \(1\).webp);
}

.perfil-text {
    width: 500px;
    padding: 15rem;
    color: white;
}

.perfil-text h3 {

    color: #FFC709;
}

.perfil-img {
    width: 70%;
    margin-top: -44%;
    border-radius: 50%;
    margin-left: 165%;
}

#formaçao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1600px;
    background: #252734;
    color: #FFFFFF;
}

#formaçao h3 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 35px;
    line-height: 48px;
    color: #FFC709;
}

#formaçao img {
    border-radius: 10px 10px 10px 10px;
}

#formaçao h4 {
    padding-left: 27.9%;
    font-size: 19px;
}


.list {
    margin: 25px -90px 25px 0px;
    padding: 20px;
    border: 1px solid #FFC709;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 120px;
}

.list img {
    width: 30px;
}

#slide-top {
    margin-top: 2%;
}

.slide-container {
    max-width: 1000px;
    position:  relative;
    margin: auto;
}

.slide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -20px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition:  0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color: white;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0, 0,0.8);
}

.number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: backgroud-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name:fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4}
   to {opacity: 1} 
}

.habilidades div {
    margin-left: 265px;
    display: flex;

}

#footer{
    width: 100%;
    height: 160px;
    background: #333647;
    display: flex;
    justify-content: center;
}

#footer h3 {
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #FFC709;
    text-align: center;
}

#footer img {
    width: 35px;
    padding-top: 30px;
    margin: 0 20px;
}

@media (max-width: 600px) {
    #hero h1 {
        font-size: 26px;
        width: 90%;
    }

    #hero p {
        font-size:  16px;
        font-weight: 300;
        margin: 15px 0;
    }
}
    